/* General Settings */
body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}
a{
    text-decoration: none;
    color:#2E2F42;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
.header_nav, h3 {
    font-weight: 500;
}
h3{
    font-size: 20px;
    line-height: 1.2;
}
h2{
    font-size: 36px;
    line-height: 1.11;
}
h3, h2{
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.container{
    width:1158px;
    margin: 0 auto;
}
/* HEADER SECTION STYLING */
.header_main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 86px;
}
.header_nav{
    display: flex;
    gap: 40px;

}
.header_nav a:hover,
.header_nav a:focus{
    color:#404BBF;
}
.header_nav a:active{
    color: #404BBF;
    border-bottom: 1px solid #404BBF;
}
.logo a{
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.logo a>span{
    color: #4D5AE5;
}

.header_address ul{
    font-style: normal;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.header_address a{
    color: #434455;
}
.header_address a:hover,
.header_address a:focus{
    color: #404BBF;
}
/* BANNER SECTION STYLING */
.banner_main{
    background-color: #2E2F42;
    padding-top:188px;
    padding-bottom: 188px;
}
.banner_main h1{
    color: #fff;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}
.banner_main button{
    display: block;
    background-color: #4D5AE5;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 32px;
    margin:48px auto 0 auto;
    border:none;
    border-radius: 4px;
}
.banner_main button:hover,
.banner_main button:focus{
    background-color: #404BBF;
}
/* FEATURES SECTION STYLING */
.features ul{
   display: flex;
   justify-content: space-around;
   gap: 24px;
   padding: 120px 0;
}
.features li{
    width: 264px;
}
.features p{
    margin-top: 8px;
}
/* TEAM SECTION STYLING */
.our_team{
    background-color: #F4F4FD;
}
.our_team h2, .our_portfolio h2, .team_card h3,
.team_card p{
    text-align: center;
}
.team_card{
    background-color: #fff;
}
.team_card img{
    text-align-last: left;
}
/* PORTFOLIO SECTION STYLING */
.our_portfolio img{
    width: 360px;
    height: 300px;
}
/* FOOTER SECTION STYLING */
.footer_main{
    background-color: #2E2F42;
    color: #F4F4FD;
}
.footer_main a{
    color: #F4F4FD;
}
