/* General Settings */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-nav,
h3 {
  font-weight: 500;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
}
h2 {
  font-size: 36px;
  line-height: 1.11;
}
h3,
h2 {
  color: #2e2f42;
  letter-spacing: 0.02em;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* HEADER SECTION STYLING */
.header-main {
  border-bottom: 1px solid #e7e9fc;
}
.header-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}
.header-nav {
  display: flex;
  gap: 40px;
}
.header-main a {
  display: block;
  padding: 24px 0;
}
.header-nav a:hover,
.header-nav a:focus {
  color: #404bbf;
}
.header-nav a:active {
  color: #404bbf;
  border-bottom: 1px solid #404bbf;
}

.logo a {
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.logo a > span {
  color: #4d5ae5;
}

.header-address ul {
  font-style: normal;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header-address a {
  color: #434455;
}
.header_address a:hover,
.header_address a:focus {
  color: #404bbf;
}
/* BANNER SECTION STYLING */
.banner-main {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.banner-main h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}
.banner-main button {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px;
  margin: 48px auto 0 auto;
  border: none;
  border-radius: 4px;
}
.banner-main button:hover,
.banner-main button:focus {
  background-color: #404bbf;
}
/* FEATURES SECTION STYLING */
.features ul {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.features li {
  width: 264px;
}
.features p {
  margin-top: 8px;
}
/* TEAM SECTION STYLING */
.our-team {
  background-color: #f4f4fd;
}
.our-team h2,
.our-portfolio h2,
.team-card h3,
.team-card p {
  text-align: center;
}
.our-team ul {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-top: 72px;
}
.team-card {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}
.team-card-content {
  padding: 32px 0;
}
.team-card h3 {
  margin-bottom: 8px;
}

/* PORTFOLIO SECTION STYLING */
.our-portfolio img {
  width: 360px;
  height: 300px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}
.portfolio-card {
  display: flex;
  flex-direction: column;
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list h3 {
  margin-bottom: 8px;
}
/* FOOTER SECTION STYLING */
.footer-main {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-content {
  max-width: 264px;
}
.logo-content .logo {
  margin-bottom: 16px;
}
.footer-main a {
  color: #f4f4fd;
}
